

.titoloblu {
    text-align: center;
    color: blue;
	font-size: 22px;
	font-weight: bold;
	margin: 3px;
}

.sottotitoloblu {
    text-align: center;
    color: #8fc5ff;
	font-size: 18px;
	/* font-weight: bold; */
    font-style: italic;
	margin: 3px;
}

.linea-blu {
  height: 3px;
  background-color: blue;
  border: none;
  margin: 6px 0; /* Regola lo spazio sopra e sotto la linea */
}

.tabella-no-capo td {
  white-space: nowrap;
}
